/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 45px;
  padding: 0px;
  margin-top: -10px;
  margin-bottom: -5px;
  background-image: url("http://www.clker.com/cliparts/D/L/7/f/m/v/clouds-hi.png")
}
.create{
  margin: 0 auto;
  font-family: 'Lobster', cursive;
  font-size: 25px
}
.acc{
  font-size: 18px
}

.navbar-collapse {
  text-align:center;
}
.navbar-nav {
    display:flex;
    float:none;
    align-content: flex-end;
}
.c-container{
  align-self: center;
}

h1{
  font-family: 'Muli', sans-serif;
  text-align: center;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px #000000;
  padding-top: 15px;
}

.card-img-top{
  width: 100%;
  height: 220px;
}

.row{
  display: flex;
  justify-content: space-evenly;
}
.card{
  margin: solid 2px black;
  border-radius: 3px;
}
.card-block{
  display: flex;
  justify-content: center;
  padding: 0px;
  padding-top: 7px;
}
.col-sm-4{
  padding: 35px
}
.menu{
  background-image: url("https://i.pinimg.com/originals/7b/6d/2a/7b6d2ad42d7b85c4aaa5791e9fe1eec9.jpg");
  background-size: fill;
  background-repeat: no-repeat;
}